/**
  * Roboto Mono font
  */
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-medium {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
.roboto-mono-bold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-mono-semibold {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", Sans-Serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", Sans-Serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.nunito-semibold {
  font-family: "Nunito", Sans-Serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.nunito-extrabold {
  font-family: "Nunito", Sans-Serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
